name: Notificar nueva versi贸n a Discord

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'N煤mero de versi贸n (ej: v1.2.3)'
        required: true
      changelog:
        description: 'Cambios de la nueva versi贸n (puede ser en Markdown)'
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Construir mensaje
        id: message
        run: |
          echo "MESSAGE<<EOF" >> $GITHUB_ENV
          echo "** Nueva versi贸n: ${{ github.event.inputs.version }}**" >> $GITHUB_ENV
          echo "" >> $GITHUB_ENV
          echo "${{ github.event.inputs.changelog }}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Enviar a Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          JSON_PAYLOAD=$(jq -n --arg content "${MESSAGE}" \
          '{ "username": "GitHub", "avatar_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png", "content": $content }')

          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$JSON_PAYLOAD" \
               $DISCORD_WEBHOOK
